@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');
@import '../abstract/variables';

header{
    font-family: 'DM Serif Display',sans-serif;
    font-weight: 400;
}

body{
    font-size: 16px;
    font-family: 'Karla',sans-serif;
    font-weight: 400;
}

.header__wrapper-navbar--list{
    text-transform: uppercase;
    
    &-item{
        list-style-type: none;
        &-link{
            text-decoration: none;
            color: $color-neutral-grayish_violet;
            transition: all .3s;
            &:hover{
                color: $color-neutral_dark_violet;
            }
        }


        
    }
}

#item-button{
    color: $color-dark_violet;
    font-weight: 400;
    
}

#item-button:hover{
    color: $color-neutral-light_grey;
    font-weight: 400;
}

.banner__text{
    color: $color-neutral-light_grey;
    &--heading{
        font-size: 3em;
    }
}

.banner__text--button{
    color: $color-neutral-light_grey;
    text-decoration: none;
    transition: all .3s;
    &:hover{
        color: $color-neutral_dark_violet;
    }
}