@import '../../../scss/abstract/variables';

.header{
    background-color: $color-neutral-light_grey;
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: $wrapper-margin;
        padding: 1.5em 2em;
        &-navbar{
            &--list{
                display: flex;
                flex-direction: row;
                float: right;

                &-item:not(:last-child){
                    margin: 0 1.8em;
                }
                   
            }
        }
    }

    
}

