// colors
    // primary
$color-dark_violet: hsl(256, 26%, 20%);
$color-grayish_blue: hsl(216, 30%, 68%);

    // neutral
$color-neutral_dark_violet:hsl(270, 9%, 17%);
$color-neutral-grayish_violet:hsl(273, 4%, 51%);
$color-neutral-light_grey:hsl(0, 0%, 98%);


// margin and paddings



